<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>

<div th:each="person : ${people}">
    <a th:href="@{/people/{id} (id=${person.getId()})}"
       th:text="${person.getSurnameNamePatronymic() + ', ' + #dates.format(person.dateOfBirth, 'MM/dd/yyyy') + ', ' + person.getEmail()}">user</a>
</div>
<hr/>

<a href="/people/new">
    <button>Create a new person</button>
</a>

</body>
</html>